name: node_url_shortener
version: '3.8'

services:
  postgres:
    image: postgres:latest
    container_name: node_url_shortener_postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: url_shortener
